@import url('minor/header.css');
@import url('minor/swipeable.css');
@import url('minor/footer.css');
/* The part containing the video*/

video{
  width: 100%;
}
div.video{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
div.video .center{
  position: absolute;
  z-index: 1
}
div.video .center div{
  font-family: 'Times New Roman', Times, serif;
}
div.video .center div a{
  width: 8rem !important;
  background-color: white;
  color: #393941;
}
div.video .center div a:hover{
  background-color: #393941;
  color: white;
}

div.scrubs{
  min-height: 5vh;
  padding: 1.5rem;
  font-size: 1.2rem;
  word-spacing: .2rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Section1 */
div#section1{
  width: 96% !important;
  padding: 0 !important;
}
#section1 .row{
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
#section1 .row .diff{
  height: 70vh;
  background-image: url('../images/womens-tala-lab-coat-white1.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .row .diff a{
 color: #393941;
 text-decoration: none;
 font-family: monotype corsiva !important;
}
#section1 .row .diff a{
  color: #393941;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif !important;
}
#section1 .row .diff{
  min-height: 50vh;
}

/* Section 2 starts here*/

#section2{
  width: 100%;
  min-height: 85vh;
  margin-top: 10vh;
}
#section2 div.section2{
  width: 90%;
  min-height: 85vh;
  margin: auto;
}
#section2 div.section2 #middle1{
  background-color: #f6f6f6;
}
#section2 div.section2 .middle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
#section2 div.section2 .middle .semi{
  width: 70vh;
  font-size: 18px;
  text-align: center;
}
#section2 div.section2 .middle .semi div.b-top{
  margin-top: 2vh;
}
#section2 div.section2 .middle .semi div span{
  font-weight: bold;
}
#section2 div.section2 .middle .semi div a{
  color: black;
  font-weight: bold;
  font-family: monotype corsiva;
  text-decoration: underline;
}
#section2 div.section2 #middle1 .semi{
  font-size: 30px;
  color: black;
  opacity: none;
}
#section2 div.section2 #middle1 .semi #block{
  width: fit-content;
  margin: 3vh auto 0 auto;
}
#section2 div.section2 #middle1 .semi #block a{
  font-size: 27px;
  color: black;
}

/* Section 3 */

#section3{
  width: 100%;
  margin-top: 8vh;
}
#section3 .section3{
  width: 92%;
  margin: auto;
}
#section3 .section3 #female{
  min-height: 60vh;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#section3 .section3 #female div#fe div{
  word-spacing: 3px;
  letter-spacing: 3px;
  font-size: 20px;
}
#section3 .section3 #female div#fe p{
  text-align: center;
}
#section3 .section3 #female div#fe p a{
  text-decoration: underline;
  font-family: monotype corsiva;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

/* section4 */

#section4{
  width: 100%;
  margin-top: 8vh;
}
#section4 .section4{
  width: 92%;
  margin: auto;
}
#section4 .section4 #male{
  min-height: 60vh;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#section4 .section4 #male div#ma div{
  word-spacing: 3px;
  letter-spacing: 3px;
  font-size: 20px;
}
#section4 .section4 #male div#ma p{
  text-align: center;
}
#section4 .section4 #male div#ma p a{
  text-decoration: underline;
  font-family: monotype corsiva;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

/* section5 */

#section5{
  width: 100%;
  margin-top: 6vh;
}
#section5 .section5{
  width: 85%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
#section5 .section5 .gif{
  min-height: 80vh !important;

  display: flex;
  justify-content: center;
  align-items: center;
}
#section5 .section5 .gif div{
  text-align: center;
}
#section5 .section5 .gif div h3{
  font-size: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-transform: uppercase;
}
#section5 .section5 .gif div .below{
  margin-bottom: 6px;
}
#section5 .section5 .gif div h4 a{
  text-decoration: underline;
  font-family: monotype corsiva;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
#section5 .section5 #gif{
  background: url('../images/HP_Module_Dekar_Hidmo_600x.gif');
  background-position: center top;
  min-height: 80vh !important;
}

/* section6 */

#section6{
  width: 100%;
  margin-top: 6vh;
}
#section6 #image{
  width: 90%;
  margin: auto;
  min-height: 80vh;
  background: url('../images/Group_Unisex_aboutuspage-sm_2000x_e6a71835-5bef-4cad-9263-37268385c35b_1920x.jpg') no-repeat;
  background-size: cover;
}
#section6 #threads{
  width: 365px;
  height: 60px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 9px;
  margin-top: 6vh;
  background: url('../images/threads-for-threads_365x_457c6c81-78c4-4420-9294-3e7dc9474691_1200x.png') no-repeat;
  background-size: contain;
}
#section6 #paragraph{
  margin-top: 8vh;
  margin-bottom: 15vh;
}
#section6 #paragraph p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #393941;
  margin: 0;
}

@media(max-width: 990px){
  ul.right{
    margin-left: 50% !important;
  }
  #section1 .row .diff{
    height: 100vh;
  }
}
@media(max-width: 630px){
  ul.right{
    margin-left: 40% !important;
  }
  #section1 .row .l8{
    width: 100% !important;
  }
  #section1 .row .l8{
    padding: 0;
    margin-top: 10px;
  }
  .column ul.tabs li{
    width: 17px !important;
    height: 17px !important;
    border-radius: 17px !important;
    display: inline-block;
    margin: 0 3px;
  }
  .column .pictures{
    background-position: center top;
    width: 380px;
    margin: auto;
  }
}
@media(max-width: 492px){
  ul.right{
    margin-left: 30% !important;
  }
  .column .pictures{
    width: 100%;
  }
}
@media(max-width: 392px){
  ul.right{
    margin-left: 20% !important;
  }
  #section2 div.section2 .middle{
    min-height: unset;
  }
}