*{
  font-family: 'Times New Roman', Times, serif;
}
.bg{
  background-color: #393941;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-transform: uppercase;
  height: 5vh;
}
.bg p{
  margin: auto;
}
nav{
  height: 8vh !important;
}
nav a.sidenav-trigger i{
  color: #393941;
}
ul.left{
  height: 8vh !important;
  margin-left: 4vh !important;
  width: 600px;
}
ul.left li{
  height: 8vh !important;
  margin: 0 8px 0 8px;
}
ul li a{
  text-decoration:none;
  color: #393941 !important;
  font-size: 14px !important;
  height: 8vh !important;
  line-height: 7vh !important;
  padding: 0 !important;
  font-family: 'Times New Roman', Times, serif;
}
ul.right{
  margin-left: 20% !important;
  height: 8vh !important;
  width: 400px !important;
  padding-left: 15% !important;
}
ul.right li{
  height: 8vh !important;
  margin: 0 20px 0 20px;
}
ul.right li a i{
  font-size: 15px !important;
  line-height: 7vh !important;
}
nav .brand-logo img{
  width: 78px;
  height: 24px;
}

div.modal-content{
  border: 2px solid red;
}

/* The part containing the video*/

video{
  width: 100%;
}
div.video{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
div.video .center{
  position: absolute;
  z-index: 1
}
div.video .center div{
  font-family: 'Times New Roman', Times, serif;
}
div.video .center div a{
  width: 8rem !important;
  background-color: white;
  color: #393941;
}
div.video .center div a:hover{
  background-color: #393941;
  color: white;
}

div.scrubs{
  min-height: 5vh;
  padding: 1.5rem;
  font-size: 1.2rem;
  word-spacing: .2rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Section1 */
div#section1{
  width: 96% !important;
  padding: 0 !important;
}
#section1 .row{
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
#section1 .row .diff{
  height: 70vh;
  background-image: url('../images/womens-tala-lab-coat-white1.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .row .diff a{
 color: #393941;
 text-decoration: none;
 font-family: monotype corsiva !important;
}
#section1 .row .diff a{
  color: #393941;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif !important;
}
#section1 .row .diff{
  min-height: 50vh;
}

.column .pictures{
    min-height: 60vh;
    position: relative;

    background-size: cover !important;
    background-position: center !important;
}
.column .height{
  min-height: 80vh !important;
}
.column #test-swipe-1 #pictures1{
    background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #test-swipe-2 #pictures1{
  background: url('../images/Leon-Pocket-Scrub-Top_winning-blue-2_500x.jpg') no-repeat;
}
.column #test-swipe-3 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #test-swipe-4 #pictures1{
background: url('../images/Leon-Pocket-Scrub-Top_winning-blue-2_500x.jpg') no-repeat;
}
.column #test-swipe-5 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #test-swipe-6 #pictures1{
background: url('../images/Leon-Pocket-Scrub-Top_winning-blue-2_500x.jpg') no-repeat;
}
.column #test-swipe-7 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #test-swipe-8 #pictures1{
background: url('../images/Leon-Pocket-Scrub-Top_winning-blue-2_500x.jpg') no-repeat;
}
.column #test-swipe-9 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #test-swipe-0 #pictures1{
background: url('../images/Leon-Pocket-Scrub-Top_winning-blue-2_500x.jpg') no-repeat;
}
.column #test-1 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #swipe-1 #pictures1{
  background: url('../images/86d3ebc0-teams-lp-3_10aj0ak000000000000028.png') no-repeat;
}
.column #pictures2{
    background: url('../images/women-raincoat-1-front_6f09330f-308b-454e-bd64-9eef6f040963.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.column #pictures3{
    background: url('../images/Womens-Catarina-Top_black-1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.column .pictures .buttom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: none;
}
.column .pictures .buttom .sizes{
    display: none;
}
.column .pictures .buttom .quick-buy{
    width: 100%;
    height: 6vh;
    background: white;
    opacity: .9;

    display: flex;
    justify-content: center;
    align-items: center;
}
.column:hover .buttom{
    display: block;
}
.column .pictures .buttom .quick-buy a{
    text-decoration: none;
    color: #393941;
    font-family: monotype corsiva;
}
.column .pictures .buttom .quick-buy a:hover{
    text-decoration: underline;
}
.column .pricing{
    margin-top: 15px;
}
.column .pricing a{
    text-decoration: none;
    color: #393941;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
}
.column .pricing div.span{
    margin-bottom: 5px;
}
.column .pricing div a span{
    font-weight: normal;
}
.column .pricing div.spacing{
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 5px;
}
.column .pricing div.available{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border: 2px solid red;
}
.column ul.tabs{
    visibility: hidden;
    width: fit-content;
}
.column:hover ul.tabs{
    visibility: visible;
}
.column ul.tabs li{
    width: 17px !important;
    height: 17px !important;
    border-radius: 17px !important;
    display: inline-block;
    margin: 0 1px;
}
.column ul.tabs li.indicator{
  display: none;
}

/* Section 2 starts here*/

#section2{
  width: 100%;
  min-height: 85vh;
  margin-top: 10vh;
}
#section2 div.section2{
  width: 90%;
  min-height: 85vh;
  margin: auto;
}
#section2 div.section2 #middle1{
  background-color: #f6f6f6;
}
#section2 div.section2 .middle{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
#section2 div.section2 .middle .semi{
  width: 70vh;
  font-size: 18px;
  text-align: center;
}
#section2 div.section2 .middle .semi div.b-top{
  margin-top: 2vh;
}
#section2 div.section2 .middle .semi div span{
  font-weight: bold;
}
#section2 div.section2 .middle .semi div a{
  color: black;
  font-weight: bold;
  font-family: monotype corsiva;
  text-decoration: underline;
}
#section2 div.section2 #middle1 .semi{
  font-size: 30px;
  color: black;
  opacity: none;
}
#section2 div.section2 #middle1 .semi #block{
  width: fit-content;
  margin: 3vh auto 0 auto;
}
#section2 div.section2 #middle1 .semi #block a{
  font-size: 27px;
  color: black;
}

/* Section 3 */

#section3{
  width: 100%;
  margin-top: 8vh;
}
#section3 .section3{
  width: 92%;
  margin: auto;
}
#section3 .section3 #female{
  min-height: 60vh;
  border: 2px solid red;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#section3 .section3 #female div#fe div{
  word-spacing: 3px;
  letter-spacing: 3px;
  font-size: 20px;
}
#section3 .section3 #female div#fe p{
  text-align: center;
}
#section3 .section3 #female div#fe p a{
  text-decoration: underline;
  font-family: monotype corsiva;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
@media(max-width: 990px){
  ul.right{
    margin-left: 50% !important;
  }
  #section1 .row .diff{
    height: 100vh;
  }
}
@media(max-width: 630px){
  ul.right{
    margin-left: 40% !important;
  }
  #section1 .row .l8{
    width: 100% !important;
  }
  #section1 .row .l8{
    padding: 0;
    margin-top: 10px;
  }
  .column ul.tabs li{
    width: 17px !important;
    height: 17px !important;
    border-radius: 17px !important;
    display: inline-block;
    margin: 0 3px;
  }
  .column .pictures{
    background-position: center top;
    width: 380px;
    margin: auto;
  }
}
@media(max-width: 492px){
  ul.right{
    margin-left: 30% !important;
  }
  .column .pictures{
    width: 100%;
  }
}
@media(max-width: 392px){
  ul.right{
    margin-left: 20% !important;
  }
  #section2 div.section2 .middle{
    min-height: unset;
  }
}